.{
    margin: 0;
    padding: 0;
}

body{
    background-color: #31ff08;
}
.cabeçalho-título {
    
    color: black;
    font-size: 100px;
    text-align: center;
    display: flex ;
    justify-content: space-around;
    background-color: #2a9913;
   }


.titulo-soja {
 color: black;
 font-size: 50px;
 text-align: center;
}

.texto {
    color: black;
    font-size: 45px;
    text-align: center;
}
  

   .imagem {
    text-align: center;
     align-items: center;
    inline-size: 40px;
}


.cotacao {
    color: black;
    font-size: 50px;
    text-align: center;
}


.valor {
    color: black;
    font-size: 45px;
    text-align: center;
}


.rodape {
    color: black;
    font-size: 80px;
    text-align: center;
    background-color: #2a9913;
}


