body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2bff00;
    padding: 20px;
}

h1 {
    color: #f30d0d;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

p {
    color: #666;
}